#app {
    padding-top: 20px;
}
#app,main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem
    
}
.button {
	background: #000;
	font-weight: 700;
	color: rgb(158, 144, 123);
    padding: 0;
	border-radius: 5px;
}

.button span {
	display: block;
	background: #3a3939;
	padding: 1.0rem 2.1rem;
	border: 1px solid #000;
	transform: translate3d(-2px, -2px, 0);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button:hover span {
	transform: translate3d(-4px, -4px, 0);

}
.btn2 {
    color: #000000;
    border-color: #000;
}
.btn-outline-secondary2 {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #3a3939;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;  

}

.btn-outline-secondary2:hover span {

    transform: translate3d(-2px, -2px, 0);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

h1 {
    color:floralwhite;
    font-family:'Rajdhani', sans-serif;;
}



.bodybg {
    background: url(images/cybercity-neon.gif);
    background-color: rgba(65, 62, 62, 0.808);
   
    background-size: 100%;
    
}